nav {
  position: relative;
  background:transparent;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  padding:15px;
  z-index: 100;
  backdrop-filter: blur(20px);
  display: flex;
  align-items:center;
}

nav h1 {
  margin:0;
  display:inline-block;
}

.heading {
  width:100%;
}

.heading .content h1 {
  font-size:53px;
}

.heading .special {
  background:linear-gradient(to right, royalblue, skyblue);
  background-clip: text;
  color: transparent;
}

.container {
  margin:auto;
  width:650px;
}